.banner {
  color: rgb(247, 242, 242);
  object-fit: contain;
  height: 60vh;

  .banner_contents {
    margin-left: 5%;
    padding-top: 14rem;

    .banner_title {
      max-width: 50%;
      font-size: 3rem;
      font-weight: 800;
    }

    .banner_description {
      max-width: 40%;
      height: 80px;
      line-height: 1.5;
      font-size: 1rem;
    }

    .banner_buttons {
      .banner_button {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.76);
        outline: none;
        border: none;
        font-size: 1.2rem;
        font-weight: 700;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgba(12, 10, 10, 0.87);
        border-radius: 8px;

        &:hover {
          color: wheat;
          background-color: red;
          transition: all 0.2s;
        }
      }
    }
  }
}
