.MuiBox-root.css-pikhkf {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
legend.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
  margin-bottom: 10px;
}
